.loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loading-container img {
    animation: spin 0.35s linear infinite reverse;
}

@keyframes spin {
    0% {

        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg)
    }

}