.profile-quick-links-container{
    position: relative;
    top: -0px;
    width: 100%;
    background-color: var(--light-blue);
    padding: 20px 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  

}
.quick-links-center{
    top: -1px;
    left: 45%;
    transform: rotate(2deg);
    background-color: #1166a772;
    height: 30px;width: 50px;position: absolute;
    clip-path: polygon(56.08% 84.24%, -3.92% 9.46%, 100% 7.45%);
    backdrop-filter: blur(5px);
  
}