.new-card-container {
    height: 220px;
    width: 100%;
    background-color: var(--light-blue);
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.new-card-container img {
    border-radius: 5px;
    width: calc(100% - 20px);
    height: calc(100% - 10px);
    position: absolute;
}

.news-viewers-count {
    background-color: #000;
    padding: 2px 10px;
    font-size: 14px;
    color: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    position: absolute;
    right: 16px;
    bottom: 8px;

}