.quick-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.quick-link-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(2, 90px);
}