:root {
  --blue: #0e5488;
  --light-blue-full:#01477d;
  --light-blue: #01477d89;
  --green-gradient:linear-gradient(to left, #41b06a, #4cc58a);
  
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
